.App {
  text-align: center;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  margin: 10px;
}

.card-image {
  width: 100%;
}

.card-body {
  padding: 10px;
  text-align: center;
}

a {
  padding: 10px;
}